body {
  background-image: url(../img/main_background.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

.current_location,
.show_location {
  width: 80%;
  margin: 0 auto;
  border-bottom: solid rgba(128, 128, 128, 0.596) 2px;
  padding-bottom: 1rem;
}

#main {
  margin: 10rem auto;
  width: 90vw;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

#map {
  height: 300px;
  border-radius: 10px;
}

span {
  padding-right: 0.5rem;
  color: blue;
}

.people {
  padding-bottom: 1rem;
}

/* Javascript classes*/

.display_location {
  display: flex;
  justify-content: center;
  align-content: center;
}

.loader {
  font-size: 1.5rem;
  font-weight: 700;
}
